
/* 
CBST revamp
*/
.esri-widget {
    font-family: Calibri;
}

html, body {
    padding-top: 18px;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: Calibri;
}

.container-fluid {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  font-family: Calibri;

}

.uploadExpand {
  background-color: white; 
  padding:4px;
  text-align: center;

}

.field {
  text-align: center;
}

.file-upload-status {
  text-align: center;
  align-self: center;
}

.inputupload {
  text-align: center;
}


.titleTextsmall { 
  margin-left: 11%;
  padding-bottom: 16px;

}

.my-custom-scrollbar {
    font-size: 12px;
    position: relative;
    height: 250px;
    overflow: auto;
    margin: 0 auto;
    white-space: nowrap;
}


#formDiv {
    width: 100%;
  }

.esri-item-list__scroller {
    overflow-y: visible;
}

.editArea-container {
    background: #fff;
    line-height: 1.5em;
    overflow: auto;
    padding: 10px;
    width: 300px;
}

.expandInputCoords {
  width: 100%;
  margin-bottom: 10px;
}

  .list-heading {
    text-align: center;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #323232;
  }

  .or-wrap {
    background-color: #e0e0e0;
    height: 1px;
    margin: 2em 0;
    overflow: visible;
  }

  .or-text {
    background: #fff;
    line-height: 0;
    padding: 0 1em;
    position: relative;
    bottom: 0.75em;
  }

  /* override default styles */
  .esri-feature-form {
    background: #fff;
  }

  .esri-feature-templates {
    width: 256px;
  }

  .esri-feature-templates__section-header {
    display: none;
  }

  .esri-feature-templates__section {
    box-shadow: none;
  }

  .esri-feature-templates__scroller {
    max-height: 200px;
  }
  
.table-wrapper-scroll-y {
    display: block;
}

#mainRow{
    padding-top:68px;
    height:100%;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

#titleRow{
    height: 100px;
}

#mapDiv{
    padding:0;
    margin:0;
}


#titleText{
    width: 100%;
    font-size:1.5em;
    font-weight:500;
}

#titleTextsmall {
    font-size:1em;
    font-weight:500;

}



#panelContent{
    overflow:auto;
    max-height: 100%;
}
/* 
#coords {
    font: bold 12px arial;
    position:absolute; 
    left:200px; 
    bottom:30px; 
    color:#000; 
    z-index:50;
} */

#topbar{ 
    float:right;
    top:20px;
    right:20px;
    z-Index:999;
}

#scaleText {
    font: bold 12px arial
}

/*#grid {
    height: 35%
}
#seedlotgrid {
    height: 30%
}
#gridSeed {
    height: 45%
}
#gensuitGrid {
    height: 15%
}*/


.card-text{
    font-size:14px;
}


